.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

form {
  width: 50%;
}

fieldset {
  display: flex;
  flex-direction: column nowrap;

}

label {
  margin: 1rem;
}

input {
  width: 100%;
}

p {
  margin: 1.5rem 0 .5rem 0;
}