.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: whitesmoke;
}

form {
  width: 50%;
}

fieldset {
  display: flex;
  flex-direction: column nowrap;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 2px 2px 3px lightgray;

}

label {
  margin: 1rem;
}

input {
  width: 100%;
}

p {
  margin: 1.5rem 0 .5rem 0;
}

.team-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 45%;
}

.member-card {
  border: 1px lightgrey solid;
  border-radius: .25rem;
  padding: 0 1rem;
  background-color: white;
  box-shadow: 2px 2px 3px lightgray;
  margin: .5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  height: 2rem;
}